<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Cases"  >
    <groups>
        <run>
            <exclude name="dataDrivenTestCases"/>
        </run>
    </groups>
    <listeners>
        <listener class-name="listeners.ListenerTest"/>
        <listener class-name="listeners.AnnotationTransformer"/>
    </listeners>
    <test name="All Test Cases" >
        <classes>
<!--            <class name="webTestCase.verifyUserSignUp"/>-->
<!--            <class name="webTestCase.verifyForgetPassword"/>-->
            <class name="webTestCase.verifyUserSignIn"/>
<!--            <class name="webTestCase.verifyDepartmentST"/>-->
<!--            <class name="webTestCase.verifyLocationST"/>-->
<!--            <class name="webTestCase.verifyJobFunctionST"/>-->
<!--            <class name="webTestCase.verifyProfileSetting"/>-->
            <class name="webTestCase.verifyLegislationLibrary"/>
<!--            <class name="webTestCase.verifyRiskRegister"/>-->
<!--            <class name="webTestCase.verifyActionCenter"/>-->

        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->